<div class="container w-100">

  <div class="row w-100 mt-5">
    <div class="col md-12">
      <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
    </div>
  </div>

  <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
          <p class="text-justify text-monospace">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
              Necessitatibus atque vitae voluptatibus unde autem repellat assumenda, 
              incidunt tempora at cum quasi iusto, tempore veritatis culpa ducimus explicabo 
              eveniet ullam quo.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, fugiat? 
              Possimus velit tempora, odit repudiandae assumenda perferendis, 
              corporis nam earum cum placeat voluptatem similique deserunt soluta accusantium, 
              laboriosam esse. Commodi.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Dicta, obcaecati voluptatem? Atque voluptatum beatae, laboriosam asperiores 
              optio sit inventore exercitationem voluptates odit magni nihil rerum repellendus ab, 
              autem tempora cum?
          </p>
      </div>
  </div>
</div>

  <div class="parallax"></div>

  <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
          <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
      </div>
  </div>
